<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1> Welcome! </h1>
        <a href="/register">Insert new user </a>
        <br>
        <a href="/register">Search user by username </a>

    </body>
</html>